body {
    color: white;
}
table, th, td {
    border: 1px solid black;
}

tr, th, td {
    height: 10px;
    font-size: 1rem;
    min-width: 120px;
}

table tr:nth-child(odd) {
    background: #062529;
}
table tr:nth-child(even) {
    background: #12353a;
}


table td {
    min-width: 100px;
    width:150px; 
    text-align: center;
}
.failed {
    background-color: #ab3345;
}
.filled {
    background-color: #35757e;
}
input {
    width: 75%;
    height: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
input:disabled {
    color: black;
    border: none;
    background-color:#d4ffb2;
    opacity: 1;
}