:root {
    --borderRadius: 4px;
}
body {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: rgb(43, 43, 43);
}
th {
    font-weight: 500;
}
table, th, td {
    border-radius: var(--borderRadius);
}

tr, th, td {
    height: 10px;
    font-size: 1rem;
    min-width: 120px;
}

table tr:nth-child(odd) {
    background: #062529;
}
table tr:nth-child(even) {
    background: #12353a;
}


table td {
    min-width: 100px;
    width:150px; 
    text-align: center;
}
.failed {
    background-color: #ab3345;
}
.filled {
    background-color: #35757e;
}
input {
    width: 75%;
    height: 1rem;
    text-align: center;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: var(--borderRadius);
}
input:disabled {
    color: black;
    background-color:#d4ffb2;
    opacity: 1;
}

button {
    font-weight: 600;
    letter-spacing: 0.05rem;
    border-radius: var(--borderRadius);
    border: none;
    background-color: #3796d4;
    width: 150px;
    height: 25px;
}